*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    padding: 40px;


}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    height: auto;
    width: 380px;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    gap: 8px;
    flex-direction: column;
    border-radius: 5px;
}
.input-text{
    padding: 5px 4px;
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
}
#btn-send{
    height: 22px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border-radius: 8px;
}

li{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
    font-family: monospace;
    font-size: 15px;
    
}
.btn-action{
    display: flex;
    align-items: center;
    gap: 4px;   
}
.btn-edit{
    background-color: rgb(55, 189, 99);
    color: white;
    width: 70px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-edit:hover{
    background-color: rgb(53, 243, 15);
    color: black;
}
.btn-delete{
    background-color: rgb(237, 240, 98);
    border-radius: 4px;
    width: 70px;
    cursor: pointer;
}
.btn-delete:hover{
    background-color: rgb(248, 244, 10);
    font-weight: bolder;
}